@import '../../styles/highlights.scss';

.screen{
  width: 100%;
  height: 480px;
  background-color: $screen;
  margin-top: 30px;
  color: $fontScreen;
  position: relative;

  .date-clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .clock{
      font-size: 50px;
    }
  }

  .day{
    font-size: 10px;
    display: flex;
    flex-direction: row;
  }
}