$bgColor:           #ccc;
$device:            #fff;
$screen:            #353535;
$buttonUnlock:      #f8f8f6;
$fontButtonUnlock:  #353535;
$elementsDevice:    #353535;
$fontScreen:        #f8f8f6; 

$elementsHeader:    #fff;


