.header {
  width: 100%;
  height: 20px;
  padding-top: 5px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-around;
  position: relative; }
  .header .wi-fi {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px; }
    .header .wi-fi .bullets {
      width: 7px;
      height: 7px;
      margin-right: 2px;
      background-color: #fff;
      border-radius: 50%; }
  .header .battery {
    position: absolute;
    top: 5px;
    right: 5px; }
